@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600;1,800&display=swap');

:root {
    --primary-color: #1F2937;
    --dark-grey: #4B5563;
    --off-white: #D1D5DB;
}


body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/**container**/
.container {
    padding-left: 2 rem;
    padding-right: 2 rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/**links**/


.links {
    text-decoration: none;
    padding: 0.75rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: whitesmoke;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 1rem;
    border: 2px solid var(--primary-color);

}

.lists-non-bullet {
    list-style: none;
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: whitesmoke;
    padding: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .links {
    color: whitesmoke;
    font-size: 1.5rem;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 500px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    font-size: 2rem;
    text-align: center;
    color:var(--primary-color);
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer
{
    background-color: var(--dark-grey);
    padding: 2.5rem 1.5rem;
    text-align: center;
    color: whitesmoke;
    border-top-right-radius: 1.5rem;
}

.footer-header
{
    font-size: 1.5rem;
}

.footer .links
{
    color: whitesmoke;
}

.footer .ul
{
    padding-inline-start: 0px;
}